/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue-color: 206;
  --hue-orange-color: 32;
  --hue-orange-light-color: 45;
  --orange-color: hsl(var(--hue-orange-color), 100%, 50%);
  --orange-light-color: hsl(var(--hue-orange-color), 100%, 65%);
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --container-color: hsl(var(--hue-color), 4%, 10%);
  --text-gradient: linear-gradient(
    hsl(var(--hue-orange-color), 100%, 50%),
    hsl(var(--hue-orange-light-color), 100%, 50%)
  );
  --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --text-line-height: 2rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-4: 4rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4.5rem;
    --bigger-font-size: 2.5rem;
    --big-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: var(--bigger-font-size);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.section__title-gradient {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.section__description {
  font-size: var(--bigger-font-size);
  text-align: center;
  margin-bottom: var(--mb-4);
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden;
}

.container {
  max-width: 1500px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

/*=============== CONTACT FORM ===============*/

.contact__container {
  display: flex;

  width: 100%;

  row-gap: 1.5rem;

  flex-direction: row;
}

.id1 {
  width: 20%;
}

.logo {
  width: 20%;
  margin-bottom: 2rem;
}

.id2 {
  display: flex;

  justify-content: center;

  width: 80%;

  padding-left: 4rem;
  padding-right: 4rem;
}

.contact__title {
  font-size: 1.7rem;
  font-weight: 700;

  color: var(--white-color);
  margin-bottom: 2rem;
}

.contact__description {
  font-size: 0.7rem;
}

.contact-form {
  width: 80%;
}

.contact__checkboxContainer {
  margin-bottom: 3rem;
}

.contact__checkboxContainer h3 {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.contact__options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}

.contact__item {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  width: 100%;
}

.contact__checkboxbtn {
  display: inline-block;
  font-weight: 500;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  margin: 5px;
  padding: 0px;
  height: 3rem;
  width: 12rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 35px;
}

.contact__checkboxbtn label {
  width: 1rem;
}

.contact__checkboxbtn label span {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  font-size: 0.8rem;
  font-weight: 700;
}

.contact__checkboxbtn label input {
  position: absolute;
  top: -20px;
}

.contact__checkboxbtn:hover {
  background-color: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
}

.contact__checkboxbtn input:checked:hover + span {
  background-color: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
}

.grid_item {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: 100%;
}

.contact__item label {
  color: var(--white-color);
  font-weight: 600;
}

.contact__textInput {
  height: 40px;
  padding-left: 0.5rem;
  border-radius: 0.35rem;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.253);
  background-color: rgba(255, 255, 255, 0.04);

  margin-top: 0.5rem;

  color: var(--white-color);
}

.contact__textInput option {
  color: var(--black-color);
  background-color: rgba(255, 255, 255, 0.04);
}

.contact__textInput option:disabled {
  color: -internal-light-dark(graytext, rgb(170, 170, 170));
}

.contact__textArea {
  height: 6rem;
  resize: none;
  padding-top: 0.5rem;
}

.contact__buttonArea {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

.contact__buttonArea span {
  font-size: 0.8rem;
  color: var(--white-color);
}

.contact__buttonArea button {
  padding: 0.8rem 2.5rem;
  border-radius: 30px;

  background-color: var(--orange-color);
  color: var(--black-color-alt);
  font-weight: 600;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--orange-light-color);
}

.button__icon {
  font-size: 1.2rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;
}

/*=============== FOOTER ===============*/
.footer__container {
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: center;
  width: 100%;
}

.footer__content1 {
  display: flex;

  flex-direction: column;

  width: 40%;
  height: 300px;

  /* justify-content: space-around; */
}

.footer__content2 {
  display: flex;

  flex-direction: column;

  width: 30%;
  height: 300px;
  /* padding-top: 2rem; */
}

.footer__content3 {
  display: flex;

  flex-direction: column;

  width: 30%;
  height: 300px;
  /* padding-top: 2rem; */
}

/* .footer__content3 i {
  font-size: 20px;
  margin-right: 0.8rem;
} */

.footer__content1 span {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.footer__logo {
  width: 10%;
}

.footer__logo img {
  height: 80px;
}

.footer__title {
  /* font-size: var(--h4-font-size); */
  font-weight: 600;
  margin-bottom: var(--mb-1);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer__link__Whatsapp {
  margin-right: 0.8rem;
  color: var(--text-color);
  font-weight: 400;
}

.footer__link {
  color: var(--text-color);
  font-weight: 400;
}

.footer__link:hover,
.footer__link__Whatsapp:hover {
  color: var(--white-color);
}

.footer__form {
  display: flex;
  column-gap: 0.5rem;
  background-color: var(--container-color);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: var(--mb-2);
}

.footer__input {
  background-color: var(--container-color);
  width: 90%;
  color: var(--white-color);
}

.footer__input::placeholder {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.footer__social {
  display: flex;
  margin-top: 2rem;

  /* column-gap: 1.25rem; */
}

.footer__social-link {
  display: flex;
  color: var(--white-color);
  background-color: var(--container-color);
  /* padding: 0.5rem; */
  border-radius: 0.25rem;
  margin-right: 1rem;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.footer__social-link:hover {
  background-color: var(--black-color);
}

.footer__copy {
  margin-top: 5rem;
  text-align: center;
}

.footer__copy-link {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: var(--container-color);
  border-radius: 0.25rem;
  padding: 0.45rem;
  opacity: 9;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--black-color);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 1.35rem;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color-alt);
}

/*=============== SNACK BAR ===============*/

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 575px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .section__title {
    font-size: var(--big-font-size);
  }
  .home__img {
    width: 200px;
    top: -2rem;
  }
  .home__title {
    top: -4rem;
    font-size: var(--bigger-font-size);
  }
  .home__data {
    padding-top: 20rem;
  }
  .home__description {
    font-size: var(--small-font-size);
  }
  .specs__img {
    width: 200px;
  }
  .case__container {
    grid-template-columns: 0.6fr 1fr;
  }
  .case__img {
    width: 220px;
    top: -2rem;
    left: -9rem;
  }
  .case__data {
    padding: 0;
  }
  .products__container {
    grid-template-columns: 142px;
    justify-content: center;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .contact__container {
    display: flex;

    width: 100%;

    /* row-gap: 1.5rem; */

    flex-direction: column;
  }

  .id1 {
    width: 100%;

    padding: 2rem;
  }

  .id2 {
    display: flex;

    width: 100%;

    justify-content: center;

    padding-top: 2rem;
  }

  .contact__checkboxContainer h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .contat-form {
    width: 100%;
  }

  .contact__options {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 100%;
  }

  .grid_item {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    width: 100%;
  }

  .contact__buttonArea {
    display: flex;
    width: 100%;

    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    padding: 1rem;
  }

  .contact__buttonArea span {
    font-size: 0.5rem;
    color: var(--white-color);
  }

  .contact__buttonArea button {
    padding: 0.6rem 2rem;
    border-radius: 30px;

    margin-top: 2rem;

    background-color: var(--orange-color);
    color: var(--black-color-alt);
    font-weight: 600;
  }

  .footer__container {
    /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* width: 100%; */
  }

  .footer__content1,
  .footer__content2,
  .footer__content3 {
    margin-left: 2rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: 0.8fr 1fr;
  }
  .home__data {
    padding-top: 2rem;
  }
  .home__img {
    top: -2rem;
    left: 0;
  }
  .specs__img {
    position: initial;
  }
  .specs__container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }
  .case__img {
    position: initial;
  }
  .case__data {
    padding: 0;
  }
  .case__container {
    grid-template-columns: max-content 250px;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
  }
  .discount__img {
    position: initial;
  }
  .discount__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .products__container {
    grid-template-columns: repeat(3, 142px);
    justify-content: center;
  }

  .contact__container {
    display: flex;

    width: 100%;

    row-gap: 1.5rem;

    flex-direction: column;
  }

  .id1 {
    width: 100%;

    padding: 2rem;
  }

  .id2 {
    display: flex;

    justify-content: center;

    width: 100%;

    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__logo {
    width: 2rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
  .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .home__container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }
  .home__img {
    top: -0.8rem;
    left: 4rem;
  }
  .home__data {
    padding-top: 8rem;
  }
  .specs__img {
    width: 300px;
  }
  .case__container {
    column-gap: 5rem;
  }
  .case__img {
    width: 350px;
  }
  .case__description {
    margin-bottom: var(--mb-2);
  }
  .discount__container {
    grid-template-columns: 250px max-content;
    justify-content: center;
    column-gap: 5rem;
    padding: 3rem 0;
  }
  .discount__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
  }
  .discount__description {
    margin-bottom: var(--mb-2);
  }
  .products__container {
    grid-template-columns: repeat(2, 550px);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }
  .products__card {
    height: 550px;
    padding: 0.85rem;
  }
  .products__img {
    width: 100%;
  }
  .footer__container {
    grid-template-columns: 0.4fr 0.7fr 0.7fr 1fr;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 300px;
    top: -4.5rem;
  }
  .home__title {
    top: -5rem;
    left: 3.5rem;
  }
  .home__description {
    padding-right: 5rem;
  }
  .sponsor__img {
    width: 100px;
  }
  .discount__img {
    width: 350px;
  }
  .footer__container {
    padding-top: 3rem;
  }
  .footer__copy {
    margin-top: 9rem;
  }

  .contact__container {
    display: flex;

    width: 100%;

    row-gap: 1.5rem;

    flex-direction: row;
    margin-left: 3rem;
  }

  .id1 {
    width: 25%;
  }

  .logo {
    width: 20%;
    margin-bottom: 2rem;
  }

  .id2 {
    display: flex;

    justify-content: center;

    width: 75%;
  }

  .contact__checkboxbtn label span {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    font-size: 0.5rem;
    font-weight: 700;
    cursor: pointer;
  }

  .contact__buttonArea span {
    font-size: 0.5rem;
    color: var(--white-color);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .contact__container {
    display: flex;

    width: 100%;

    row-gap: 1.5rem;

    flex-direction: row;
    justify-content: flex-end;
  }

  .id1 {
    width: 30%;
    padding: 2rem;
  }

  .logo {
    width: 20%;
    margin-bottom: 2rem;
  }

  .id2 {
    display: flex;

    justify-content: center;

    width: 70%;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .contact__title {
    font-size: 1.7rem;
    font-weight: 700;

    color: var(--white-color);
    margin-bottom: 2rem;
  }

  .contact__description {
    font-size: 0.7rem;
  }

  .contact-form {
    width: 80%;
  }

  .contact__checkboxContainer {
    margin-bottom: 3rem;
  }

  .contact__checkboxContainer h3 {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .contact__options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
  }

  .contact__item {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    width: 100%;
  }

  .contact__checkboxbtn {
    display: inline-block;
    font-weight: 500;
    color: var(--white-color);
    border: 2px solid var(--white-color);
    margin: 5px;
    padding: 0px;
    height: 3rem;
    width: 15rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 35px;
  }

  .contact__checkboxbtn label {
    width: 1rem;
    cursor: pointer;
  }

  .contact__checkboxbtn label span {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    font-size: 0.6rem;
    font-weight: 700;
    cursor: pointer;
  }

  .contact__checkboxbtn label input {
    position: absolute;
    top: -20px;
  }

  .contact__checkboxbtn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
  }

  .contact__checkboxbtn input:checked:hover + span {
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
  }

  .grid_item {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 100%;
  }

  .contact__item label {
    color: var(--white-color);
    font-weight: 600;
  }

  .contact__textInput {
    height: 40px;
    padding-left: 0.5rem;
    border-radius: 0.35rem;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.253);
    background-color: rgba(255, 255, 255, 0.04);

    margin-top: 0.5rem;

    color: var(--white-color);
  }

  .contact__textInput option {
    color: var(--black-color);
    background-color: rgba(255, 255, 255, 0.04);
  }

  .contact__textInput option:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
  }

  .contact__textArea {
    height: 6rem;
    resize: none;
    padding-top: 0.5rem;
  }

  .contact__buttonArea {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;

    padding: 1rem;
  }

  .contact__buttonArea span {
    font-size: 0.6rem;
    color: var(--white-color);
  }

  .contact__buttonArea button {
    padding: 0.8rem 2.5rem;
    border-radius: 30px;

    background-color: var(--orange-color);
    color: var(--black-color-alt);
    font-weight: 600;
  }

  .footer__container {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .footer__copy {
    margin-top: 9rem;
  }
}

@media screen and (min-width: 1900px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .contact__container {
    display: flex;

    width: 100%;

    row-gap: 1.5rem;

    flex-direction: row;
  }

  .id1 {
    width: 25%;
  }

  .logo {
    width: 20%;
    margin-bottom: 2rem;
  }

  .id2 {
    display: flex;

    justify-content: center;

    width: 75%;

    padding-left: 4rem;
    padding-right: 4rem;
  }

  .contact__title {
    font-size: 1.7rem;
    font-weight: 700;

    color: var(--white-color);
    margin-bottom: 2rem;
  }

  .contact__description {
    font-size: 0.7rem;
  }

  .contact-form {
    width: 80%;
  }

  .contact__checkboxContainer {
    margin-bottom: 3rem;
  }

  .contact__checkboxContainer h3 {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .contact__options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
  }

  .contact__item {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    width: 100%;
  }

  .contact__checkboxbtn {
    display: inline-block;
    font-weight: 500;
    color: var(--white-color);
    border: 2px solid var(--white-color);
    margin: 5px;
    padding: 0px;
    height: 3rem;
    width: 12rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 35px;
  }

  .contact__checkboxbtn label {
    width: 1rem;
  }

  .contact__checkboxbtn label span {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .contact__checkboxbtn label input {
    position: absolute;
    top: -20px;
  }

  .contact__checkboxbtn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
  }

  .contact__checkboxbtn input:checked:hover + span {
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
  }

  .grid_item {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 100%;
  }

  .contact__item label {
    color: var(--white-color);
    font-weight: 600;
  }

  .contact__textInput {
    height: 40px;
    padding-left: 0.5rem;
    border-radius: 0.35rem;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.253);
    background-color: rgba(255, 255, 255, 0.04);

    margin-top: 0.5rem;

    color: var(--white-color);
  }

  .contact__textInput option {
    color: var(--black-color);
    background-color: rgba(255, 255, 255, 0.04);
  }

  .contact__textInput option:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
  }

  .contact__textArea {
    height: 6rem;
    resize: none;
    padding-top: 0.5rem;
  }

  .contact__buttonArea {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;

    padding: 1rem;
  }

  .contact__buttonArea span {
    font-size: 0.8rem;
    color: var(--white-color);
  }

  .contact__buttonArea button {
    padding: 0.8rem 2.5rem;
    border-radius: 30px;

    background-color: var(--orange-color);
    color: var(--black-color-alt);
    font-weight: 600;
  }
}
